@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variable.css";

@import "status-bar.css";

/* Login */
@import "login.css";

/* Friends */
@import "nav_bar.css";
@import "screen-header.css";
@import "friends.css";

@import "user-component.css";

/* Chats */
@import "badge.css";
@import "icon-row.css";

/* Find */
@import "find.css";

/* More */
@import "more.css";

/* Alternative */
@import "alt-screen-header.css";

/* Settings */
@import "settings.css";

body {
	font-family: "Open Sans", sans-serif;
	/* height: 1000vh; */
	color: #2e363e;
}

.main-screen {
	padding: 0px var(--horizontal-space);
}
